aiofile==3.8.1
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.1.0
autograd==1.3
autoray==0.2.5
azure-core==1.25.0
azure-identity==1.10.0
azure-quantum==0.25.222597
azure-storage-blob==12.13.1
backports.cached-property==1.0.1
cachetools==5.0.0
caio==0.9.8
cairocffi==1.3.0
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
click-default-group==1.2.2
cloup==0.7.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
cryptography==37.0.4
cycler==0.11.0
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.5.1
dimod==0.11.2
diskcache==5.4.0
fasteners==0.17.3
frozenlist==1.3.1
future==0.18.2
glcontext==2.3.5
h11==0.9.0
homebase==1.0.1
idna==3.3
importlib-metadata==4.12.0
iso8601==0.1.16
isodate==0.6.1
isosurfaces==0.1.0
itsdangerous==2.1.2
joblib==1.1.0
kiwisolver==1.4.3
lark==0.11.3
manim==0.15.1
manimce==0.1.1.post2
ManimPango==0.4.1
mapbox-earcut==0.12.11
MarkupSafe==2.1.1
moderngl==5.6.4
moderngl-window==2.4.1
mpmath==1.2.1
msal==1.18.0
msal-extensions==1.0.0
msgpack==0.6.2
msrest==0.7.1
multidict==6.0.2
multipledispatch==0.6.0
networkx==2.7.1
ninja==1.10.2.3
ntlm-auth==1.5.0
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.5.5.64
pandas==1.4.3
pangocairocffi==0.4.0
pangocffi==0.8.0
pbr==5.9.0
penaltymodel==1.0.2
PennyLane==0.22.1
PennyLane-Lightning==0.22.0
Pillow==9.0.1
plucky==0.4.3
ply==3.11
portalocker==2.5.1
progressbar==2.5
protobuf==3.20.1
psutil==5.9.1
py==1.11.0
pyasn1==0.4.8
pycairo==1.21.0
pycparser==2.21
pydantic==1.9.1
pydub==0.25.1
pyglet==1.5.23
Pygments==2.11.2
PyJWT==1.7.1
pyparsing==3.0.9
pyqir-generator==0.4.2a1
pyreadline==2.1
pyrr==0.10.3
PySocks==1.7.1
python-constraint==1.4.0
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
qiskit==0.37.1
qiskit-aer==0.10.4
qiskit-ibmq-provider==0.19.2
qiskit-ionq==0.3.5
qiskit-qir==0.1.0b12
qiskit-terra==0.21.1
qubovert==1.2.4
rectangle-packer==2.0.1
requests==2.27.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
retry==0.9.2
retworkx==0.11.0
rfc3339==6.2
rfc3986==1.5.0
rich==6.2.0
scikit-learn==1.1.1
scipy==1.8.0
screeninfo==0.8
semantic-version==2.6.0
six==1.16.0
skia-pathops==0.7.2
sortedcontainers==2.4.0
srt==3.5.2
stevedore==4.0.0
sympy==1.9
tabulate==0.8.9
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.63.1
tweedledum==1.1.1
typing_extensions==4.3.0
urllib3==1.26.9
watchdog==2.1.7
wcwidth==0.2.5
websocket-client==1.3.3
websockets==10.3
Werkzeug==2.1.2
wrapt==1.14.1
yarl==1.8.1
zipp==3.8.1
